.signup-btn {
    margin-left: 10px;
    background-color: #e94339;
    border: 0;
    font-weight: 600;
}

.nav-item .nav-link {
    font-weight: 600;
    color: #000;
}

.login-btn {
    font-weight: 600;
}

.intro-head {
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.intro-p {
    font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: -0.18px;
}

.order-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.delivery-container {
    width: 570px;
height: 478px;
flex-shrink: 0;
border-radius: 36px;
background: #F2EBDA;
}

.dish-head {
    text-align: center;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 126.087% */
    letter-spacing: -0.46px;
    text-transform: capitalize;
}

.card-height {
    height: 250px;
}
.dish-p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.18px;
}

.dishes-container {
    width: 108px;
height: 108px;
flex-shrink: 0;
background-color: #FFF;
}
/* .dishes-container-2 {
    width: 108x;
height: 108px;
flex-shrink: 0;
background-color: #FFF;
} */

.dish-p-2{
    color: #191720;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
letter-spacing: -0.24px;
}

.delivery-p {
    color: #323232;
font-family: Inter;
font-size: 25.8px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.258px;
}

.order-p {
    color: #494949;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 147.826% */
}

.cardStyle {
    background-color: rgb(218, 210, 210) !important;
}

.download-icon {
    width: auto;
    height: 40px;
}
.ml-10 {
    margin-left: 10px;
}


@media only screen and (max-width: 600px) {
    .intro-head {
        font-size: 36px;
        line-height: 30px;
    } 
    .delivery-container {
        width: auto;
    height: 300px;
    position: relative;
    }
    .delivery-image {
        position: absolute;
        width: auto;
        height: 280px;
    }
    .dish-head {
        font-size: 32px;
        line-height: 40px; /* 126.087% */
    }
    .card-height {
        height: 300px;
    }
    .quote-svg {
        width: 25px;
        height: 25px;
    }
}
